body {
  margin: 0px;
  overflow: hidden;
  background-color: #5F4133;


}

.menu {  
  position: absolute;
  left: -40vh;
  height: 100vh;
  width: 40vh;
  background-color: lightblue;
  font-size: 14px;
  opacity: 0.95;
  z-index: 10;
}

.open_menu {
  left: 0; 
}

input {
  width: 30px;
}

.line {
    position: absolute;
    transform-origin: 0 50%;
    height: 1px; 
    background-color: lightgrey;
}

.start_point {
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    background-color: lightblue;
    opacity: 0.7;
    cursor: pointer;
}


.point_dot {
  position: absolute;
  border-radius: 100%;
  background-color: black;
}

.wrap { 
  position: absolute;
  top: 0px;
  height: 50px; /*just for view*/
  width: 50px; /*just for view*/
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
}

.straight { 
  position: absolute;
  left: 0px;
  height: 50px; /*just for view*/
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-radius: 1px 0 0 0;
}

.turn {
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: 100% 50%; 
  -ms-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
}

.blocker {
  position: absolute;
  left: 0px;
  overflow: hidden;
  transform-origin: 0% 50%;
}

.start_but {
  position: absolute;
  width: 150px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  z-index: 500;
  font-family: "Quicksand";
  border-radius: 3px;

}

.start_but:focus {
  outline: none;
}

#squig_but {
  top: 10;
  left: 10px;
  border: 1px solid black;
  background-color: #FFE9BC;
  opacity: 0.8;
}


#sqwag_but {
  opacity: 0.7;
  bottom: 10px;
  left: 10px;
  border: 1px solid black;
  background-color: #72C0AA;
}

#squig_but:hover {
  opacity: .9;
}

#sqwag_but:hover {
  opacity: .9;
}


