body {
  margin: 0px;
  overflow: hidden;
  background-color: #5F4133;
}

.draw_div {
  position: absolute;
  left: 0;
  top: 0;
  display: none;
  height: 100vh;
  width: 100vw;  
  z-index: 1000;
}

.about_div {
  position: absolute;
  left: 0;
  top: 100vh;
  height: 100vh;
  width: 100vw;  
  z-index: 1000;
  background: rgba(55, 58, 71, 0.8);
  color: white;
  font-family: "Quicksand";
}

.about_div p {
  width: 450px;
  margin: 30vh auto 10vh auto;
}

#begin_but {
  margin: auto;
  width: 300px;
  height: 80px;
  border-radius: 20px;
  border: 2px solid white;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
  cursor: pointer;
  background-color: rgba(100,100,100,0.2);
}

#begin_but:hover {
    background-color: rgba(100,100,100,0.4);
}

button {
  font-family: "Quicksand";
  font-size: 20px;
  cursor: pointer;
}
button:focus {
  outline: none;
}


#bottom_wrap {
  position: absolute;
  bottom: 30px;
  width: 100vw;
  border: 1px solid grey;
  text-align: center;
}

.but {
  display: inline-block;
  width: 200px;
  height: 40px;
  width: 200px;
  font-size: 25px;
  text-align: center;
  z-index: 500;
  border-radius: 3px;
  border: 1px solid black;
  opacity: 0.7;
}

.but:hover {
  opacity: 0.9;
}

.bottom_but {
    margin: 0 5vw 10px 5vw;
}

#squig_but {
  background-color: #FFE9BC;
}

#clear_but {
  background-color: #72C0AA;
}











#header {
  width: 100vw;
  border: 1px solid grey;
}


#about_but {
  float: right;
  height: 40px;
  border: none;
  background-color: transparent;
}

#custom_but {
  background-color: #495C70;
  margin: 10px 0 0 10px;
}












#toggle_wrap {
  float: right;
  border: 1px solid grey;
}

.toggle_but {
  display: block;
  font-size: 15px;
  width: 120px;
  border-radius: 3px;
  opacity: 0.7;
  margin: 10px;
}














.custom_menu {
  display: none;
  width: 254px;
  border: 3px solid grey;
  border-radius: 3px;
  font-family: "Quicksand";
  background-color: #495C70;
  opacity: 0.7;
  padding: 10px 0 0 10px;
}

input {
  border: none;
  border-radius: 1px;
  height: 20px;
  font-family: "Quicksand";
  font-size: 15px;
  border-bottom: 1px dashed white;
  background-color: white;
  text-align: center;
}

.input {
  height: 40px;
}

.input span {
  display: inline-block;
  min-width: 80px;
  font-weight: 900;
}

span#start {
  min-width: 55px;
}


















.menu {  
  position: absolute;
  left: -40vh;
  height: 100vh;
  width: 40vh;
  background-color: lightblue;
  font-size: 14px;
  opacity: 0.95;
  z-index: 10;
}

.open_menu {
  left: 0; 
}

input {
  width: 30px;
}

.line {
    position: absolute;
    display: none;
    transform-origin: 0 50%;
    height: 1px; 
    background-color: lightgrey;
}

.start_point {
    position: absolute;
    z-index: 10;
    border-radius: 100%;
    background-color: lightblue;
    opacity: 0.7;
    cursor: pointer;
}


.point_dot {
  position: absolute;
  display: none;
  border-radius: 100%;
  background-color: black;
}

.wrap { 
  position: absolute;
  top: 0px;
  height: 50px; /*just for view*/
  width: 50px; /*just for view*/
  backface-visibility: hidden; 
  -webkit-backface-visibility: hidden;
  /*background-color: red;*/
}

.straight { 
  position: absolute;
  left: 0px;
  height: 50px; /*just for view*/
  border-left: none;
  border-bottom: none;
  border-right: none;
  border-radius: 1px 0 0 0;
  /*background-color: blue;*/
}

.turn {
  position: absolute;
  z-index: 1;
  -webkit-transform-origin: 100% 50%; 
  -ms-transform-origin: 100% 50%;
  -moz-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-backface-visibility: hidden; 
  backface-visibility: hidden; 
  /*background-color: green;*/
}

.blocker {
  position: absolute;
  left: 0px;
  overflow: hidden;
  transform-origin: 0% 50%;
  /*background-color: blue;*/
}


.show{ /*must be after menu and draw and other things like that*/
  display: inline-block;
}

